html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

#main-canvas {
  position: fixed;
}

.interface-dialogue {
  width: 100%;
  height: 30vh;
  z-index: 1000;
  margin-top: 70vh;
}

.interface-dialogue > * {
  margin: 1%;
}